pre{
    background-color: rgb(60, 150, 45);

}

#HAD{
     color: bisque;

}

#BOX{
     background-color: blue;



}
.HEADING{
         color: RED;

         
}

#BBN{
     
     color: brown;
background-color: burlywood;

}